# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
#
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

# {{- $github_name   := promptString "GitHub username for the author/committer" }}
# {{- $github_email  := promptString "GitHub email address for the author/committer" }}
# {{- $github_pubkey := promptString "GitHub public key" }}
# {{- $gitlab_name   := promptString "GitLab username for the author/committer" }}
# {{- $gitlab_email  := promptString "GitLab email address for the author/committer" }}
# {{- $gitlab_pubkey := promptString "GitLab public key" }}

[data]
    github_name   = "{{ $github_name }}"
    github_email  = "{{ $github_email }}"
    github_pubkey = "{{ $github_pubkey }}"
    gitlab_name   = "{{ $gitlab_name }}"
    gitlab_email  = "{{ $gitlab_email }}"
    gitlab_pubkey = "{{ $gitlab_pubkey }}"
